<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XQNReader.Properties.Settings.ConnectionString" connectionString="character set=UTF8;data source=DATA-ANALYSIS;initial catalog=I:\LabDB\BATEMANLAB_FULLDB.FDB;user id=BATEMANLABO;password=amyloid42!"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
