/**************************************************************************/
 
EXECUTE BLOCK
AS
DECLARE ASSAY_ID_VAR SMALLINT;
DECLARE ASSAY_DATE_VAR DATE;
DECLARE ASSAY_TYPE_ID_VAR SMALLINT;
DECLARE DONE_BY_VAR SMALLINT;
DECLARE PROCESS_BY_VAR VARCHAR(15);
DECLARE SAMPLE_PROCESS_BY_VAR SMALLINT;
DECLARE ENZYME_ID_VAR SMALLINT;
DECLARE ANTIBODY_ID_VAR SMALLINT;
DECLARE EXPER_FILE_VAR VARCHAR(200);
DECLARE PROJECT_ID_VAR SMALLINT;
DECLARE ASSAY_DESIGN_ID_VAR SMALLINT;
DECLARE EQUIPMENT_ID_VAR SMALLINT;
DECLARE CALIBRATION_FILE_VAR MAX_VARCHAR_FIELD_SIZE;
DECLARE CALIBRATION_ASSAY_ID_VAR SMALLINT;
DECLARE ASSAY_CAL_EXPER_FILE_VAR MAX_VARCHAR_FIELD_SIZE;


DECLARE A CURSOR FOR (  /*returns assay records out of imported records */
   SELECT I.ASSAY_DATE, I.ASSAY_TYPE_ID, I.DONE_BY, I.PROCESS_BY_ID,
          I.SAMPLE_PROCESS_BY, I.ENZYME_ID, I.ANTIBODY_ID, I.EXPER_FILE, I.PROJECT_ID, I.ASSAY_DESIGN_ID, I.EQUIPMENT_ID,
          I.ASSAY_CALFILE, I.ASSAY_CAL_EXPER_FILE
   FROM   TMP_MSQBROW_IMPORT I
   GROUP
      BY I.ASSAY_DATE, I.ASSAY_TYPE_ID, I.DONE_BY, I.PROCESS_BY_ID,
         I.SAMPLE_PROCESS_BY, I.ENZYME_ID, I.ANTIBODY_ID, I.EXPER_FILE, I.PROJECT_ID, I.ASSAY_DESIGN_ID, I.EQUIPMENT_ID,
         I.ASSAY_CALFILE, I.ASSAY_CAL_EXPER_FILE
);


DECLARE PROCESS_BY_ID_VAR SMALLINT;

DECLARE B CURSOR FOR ( /*returns LAB_MEMBER_ID by LOGIN_ID*/
   SELECT M.LAB_MEMBERS_ID
   FROM LAB_MEMBERS M
   WHERE M.NT_LOGIN = :PROCESS_BY_VAR
);


DECLARE FILENAME_DESC_VAR MAX_VARCHAR_FIELD_SIZE;
DECLARE SUBJECT_NUM_VAR VARCHAR(10);
DECLARE FLUID_TYPE_ID_VAR SMALLINT;
DECLARE LEVEL_TP_VAR SMALLINT;
DECLARE LEVEL_ID_VAR SMALLINT;
DECLARE SAMPLE_TYPE_ID_VAR SMALLINT;
DECLARE SAMPLE_VOLUME_VAR FLOAT;
DECLARE ASSAY_SAMPLE_COMMENT_VAR MAX_VARCHAR_FIELD_SIZE;
DECLARE INJECTION_VOLUME_VAR FLOAT;

DECLARE SAMPLE_ID_VAR INTEGER;
DECLARE C CURSOR FOR ( /*returns assay_sample records out of imported records*/
   SELECT I.FILENAME_DESC, I.SUBJECT_NUM, I.FLUID_TYPE_ID, I.LEVEL_TP,
          I.SAMPLE_TYPE_ID, I.SAMPLE_VOLUME, I.ASSAY_SAMPLE_COMMENT, I.ASSAY_SAMPLE_INJVOL
   FROM   TMP_MSQBROW_IMPORT I
   WHERE  I.EXPER_FILE = :EXPER_FILE_VAR
   GROUP
      BY  I.FILENAME_DESC, I.SUBJECT_NUM, I.FLUID_TYPE_ID, I.LEVEL_TP,
          I.SAMPLE_TYPE_ID, I.SAMPLE_VOLUME, I.ASSAY_SAMPLE_COMMENT, I.ASSAY_SAMPLE_INJVOL
);

DECLARE D CURSOR FOR ( /*returns SAMPLE_ID by subject, fluid, timepoint*/
  SELECT smpl.SAMPLE_ID
  FROM SAMPLE smpl
  WHERE smpl.SUBJECT_ID =
  ( select subj.SUBJECT_ID
    from SUBJECT subj
    where ( subj.SUBJECT_NUM = :SUBJECT_NUM_VAR ) )  AND
  ( smpl.FLUID_TYPE_ID = :FLUID_TYPE_ID_VAR )        AND
  ( smpl.TIME_POINT_ID = :LEVEL_TP_VAR )
);


DECLARE ANALYTE_NAME_VAR VARCHAR(30);
DECLARE INTEG_TYPE_ID_VAR SMALLINT;
DECLARE AREA_VAR INTEGER;
DECLARE ISTD_AREA_VAR INTEGER;
DECLARE AREA_RATIO_VAR NUMERIC(10, 5);
DECLARE SPEC_AMOUNT_VAR VARCHAR(10);
DECLARE CALC_AMOUNT_VAR NUMERIC(10, 5);
DECLARE PEAK_SATUS_VAR VARCHAR(10);
DECLARE RT_VAR NUMERIC(4, 2);
DECLARE ISTD_RT_VAR NUMERIC(4, 2);
DECLARE QUAN_TYPE_ID_VAR SMALLINT;

DECLARE PEAK_SCANS_VAR SMALLINT;
DECLARE RT_LEFT_VAR NUMERIC(4, 2);
DECLARE RT_RIGHT_VAR NUMERIC(4, 2);
DECLARE ISTD_RT_LEFT_VAR NUMERIC(4, 2);
DECLARE ISTD_RT_RIGHT_VAR NUMERIC(4, 2);
DECLARE IT_C13_AVG_VAR NUMERIC(5, 1);
DECLARE IT_C12_AVG_VAR NUMERIC(5, 1);
DECLARE IT_N15_AVG_VAR NUMERIC(5, 1);
DECLARE SN_C13_CNT_VAR SMALLINT;
DECLARE SN_C12_CNT_VAR SMALLINT;
DECLARE SN_N15_CNT_VAR SMALLINT;
DECLARE SN_TOT_CNT_VAR SMALLINT;
DECLARE EXCLUDE_VAR SMALLINT;

DECLARE E CURSOR FOR ( /*returns ASSAY_DATA set out of imported records*/
  SELECT I.ANALYTE_NAME, I.FILENAME_DESC, I.INTEG_TYPE_ID,
  I.AREA, I.ISTD_AREA, I.AREA_RATIO, I.SPEC_AMOUNT, I.CALC_AMOUNT,
  I.PEAK_SATUS, I.RT, I.ISTD_RT, I.QUAN_TYPE_ID,
  PEAK_SCANS,
  RT_LEFT, RT_RIGHT, ISTD_RT_LEFT, ISTD_RT_RIGHT,
  IT_C13_AVG, IT_C12_AVG, IT_N15_AVG,
  SN_C13_CNT, SN_C12_CNT, SN_N15_CNT, SN_TOT_CNT,
  EXCLUDE
  FROM TMP_MSQBROW_IMPORT I
  WHERE I.FILENAME_DESC = :FILENAME_DESC_VAR
);

DECLARE ASSAY_SAMPLE_ID_VAR BIGINT;
DECLARE F CURSOR FOR (/*returns ASSAY_SAMPLE_ID by Sample name ("filename") */
  SELECT A.ASSAY_SAMPLE_ID
  FROM ASSAY_SAMPLE A
  WHERE A.DESCRIP = :FILENAME_DESC_VAR
);

DECLARE ANALYTE_ID_VAR SMALLINT;
DECLARE ASSAY_DATA_ID_VAR BIGINT;
DECLARE G CURSOR FOR (/*returns ANALYTE_ID by ANALYTE_NAME */
  SELECT A.ANALYTE_ID
  FROM ANALYTE A
  WHERE A.ANALYTE_NAME_VARIANT SIMILAR to '%' || :ANALYTE_NAME_VAR || '%'
);

DECLARE CURVE_VAR VARCHAR(15);
DECLARE WEIGHTING_VAR VARCHAR(15);
DECLARE ORIGIN_VAR VARCHAR(15);
DECLARE EQUATION_VAR VARCHAR(30);
DECLARE R_VAR NUMERIC(10, 5);
DECLARE R_SQR_VAR NUMERIC(10, 5);
DECLARE NUM_SLOPE_VAR NUMERIC(10, 5);
DECLARE NUM_INTERSECT_VAR NUMERIC(10, 5);
DECLARE H CURSOR FOR ( /* returns ASSAY_RESULTS for each analyte+quan type */
  SELECT
    i.ANALYTE_NAME, i.QUAN_TYPE_ID,
    i.CURVE, i.WEIGHTING, i.ORIGIN,
    i.EQUATION, i.R, i.R_SQR, i.NUM_SLOPE, i.NUM_INTERSECT
  FROM TMP_MSQBROW_IMPORT i
  GROUP BY
    i.ANALYTE_NAME, i.QUAN_TYPE_ID,
    i.CURVE, i.WEIGHTING, i.ORIGIN,
    i.EQUATION, i.R, i.R_SQR, i.NUM_SLOPE, i.NUM_INTERSECT
);

DECLARE I CURSOR FOR (
  SELECT a.ASSAY_ID
  FROM ASSAY a
  WHERE a.DESCRIP = :ASSAY_CAL_EXPER_FILE_VAR 
);

BEGIN

ASSAY_ID_VAR = GEN_ID(ASSAY_ASSAY_ID_GEN, 0);
OPEN A;
 WHILE (1=1) DO
   BEGIN
FETCH A INTO :ASSAY_DATE_VAR,
			 :ASSAY_TYPE_ID_VAR,
			 :DONE_BY_VAR,
			 :PROCESS_BY_ID_VAR,
      		 :SAMPLE_PROCESS_BY_VAR,
			 :ENZYME_ID_VAR,
			 :ANTIBODY_ID_VAR,
			 :EXPER_FILE_VAR,
			 :PROJECT_ID_VAR,
			 :ASSAY_DESIGN_ID_VAR,
             :EQUIPMENT_ID_VAR,
             :CALIBRATION_FILE_VAR,
             :ASSAY_CAL_EXPER_FILE_VAR;
               if (row_count = 0) then leave;
             
OPEN I;
  FETCH I INTO :CALIBRATION_ASSAY_ID_VAR;
CLOSE I;

 


OPEN H;

 WHILE (1=1) DO
   BEGIN
     FETCH H
       INTO :ANALYTE_NAME_VAR,
            :QUAN_TYPE_ID_VAR,
            :CURVE_VAR,
            :WEIGHTING_VAR,
            :ORIGIN_VAR,
            :EQUATION_VAR,
            :R_VAR,
            :R_SQR_VAR,
            :NUM_SLOPE_VAR,
            :NUM_INTERSECT_VAR;
     if (row_count = 0) then leave;

      OPEN G;
        FETCH G INTO :ANALYTE_ID_VAR;
      CLOSE G;

     UPDATE OR INSERT INTO ASSAY_RESULT (
      ASSAY_ID, ANALYTE_ID, QUANT_TYPE_ID,
      CURVE, WEIGHTING, ORIGIN, EQUATION,
      R, R_SQR, NUM_SLOPE, NUM_INTERSECT )
     VALUES ( :ASSAY_ID_VAR, /* Assay ID */
              :ANALYTE_ID_VAR, /* Analyte ID */
              :QUAN_TYPE_ID_VAR, /* Quan ID */
              :CURVE_VAR,
              :WEIGHTING_VAR,
              :ORIGIN_VAR,
              :EQUATION_VAR,
              :R_VAR,
              :R_SQR_VAR,
              :NUM_SLOPE_VAR,
              :NUM_INTERSECT_VAR )
     matching ( ASSAY_ID, ANALYTE_ID, QUANT_TYPE_ID );
    END

CLOSE H;

OPEN C;
   WHILE (1=1) DO
   BEGIN
     FETCH C
       INTO :FILENAME_DESC_VAR,
   	        :SUBJECT_NUM_VAR,
            :FLUID_TYPE_ID_VAR,
            :LEVEL_TP_VAR,
            :SAMPLE_TYPE_ID_VAR,
            :SAMPLE_VOLUME_VAR,
            :ASSAY_SAMPLE_COMMENT_VAR,
            :INJECTION_VOLUME_VAR;
     if (row_count = 0) then leave;

     SAMPLE_ID_VAR = NULL;
     LEVEL_ID_VAR = LEVEL_TP_VAR;
     if (SAMPLE_TYPE_ID_VAR = 0) then
     begin
       OPEN D;
       FETCH D INTO :SAMPLE_ID_VAR;
       CLOSE D;
       LEVEL_ID_VAR = NULL;

     if (SAMPLE_ID_VAR IS NULL ) then
              EXCEPTION SAMPLE_NOT_FOUND 'Cannot find sample - ' || :SUBJECT_NUM_VAR ||' - '|| :FLUID_TYPE_ID_VAR ||' - '|| :LEVEL_TP_VAR ;

     end



    /*-------------------------------------*/
    /*-------------------------------------*/


OPEN E;
   ASSAY_DATA_ID_VAR = GEN_ID(ASSAY_DATA_ASSAY_DATA_ID_GEN, 0);
   WHILE (1=1) DO
   BEGIN
     FETCH E
      INTO :ANALYTE_NAME_VAR,
           :FILENAME_DESC_VAR,
           :INTEG_TYPE_ID_VAR,
           :AREA_VAR, :ISTD_AREA_VAR,
           :AREA_RATIO_VAR,
           :SPEC_AMOUNT_VAR,
           :CALC_AMOUNT_VAR,
           :PEAK_SATUS_VAR,
           :RT_VAR, :ISTD_RT_VAR,
           :QUAN_TYPE_ID_VAR,
           :PEAK_SCANS_VAR,
           :RT_LEFT_VAR,
           :RT_RIGHT_VAR,
           :ISTD_RT_LEFT_VAR,
           :ISTD_RT_RIGHT_VAR,
           :IT_C13_AVG_VAR,
           :IT_C12_AVG_VAR,
           :IT_N15_AVG_VAR,
           :SN_C13_CNT_VAR,
           :SN_C12_CNT_VAR,
           :SN_N15_CNT_VAR,
           :SN_TOT_CNT_VAR,
           :EXCLUDE_VAR;
     if (row_count = 0) then leave;

     ASSAY_DATA_ID_VAR = ASSAY_DATA_ID_VAR + 1;

/*     OPEN F;*/
/*     FETCH F INTO :ASSAY_SAMPLE_ID_VAR;*/
/*     CLOSE F;*/

     OPEN G;
     FETCH G INTO :ANALYTE_ID_VAR;
     CLOSE G;



     INSERT INTO ASSAY_DATA ( ASSAY_SAMPLE_ID, ANALYTE_ID,
     QUANT_TYPE_ID, IS_OUTLIER)
     VALUES ( /* ASSAY_DATA_ID from ASSAY_DATA_ID_GEN */
              :ASSAY_SAMPLE_ID_VAR,
              :ANALYTE_ID_VAR,
              :QUAN_TYPE_ID_VAR,
              :EXCLUDE_VAR      );




   END
CLOSE E;

    END
CLOSE C;

 END

CLOSE A;

END;

COMMIT;